doctype html
html 
    head
        title Reaching Lead
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
    body
        p Thank you #{fullName} for reaching out to us, We will get back to you as soon as possible.