doctype html
html 
    head
        title Reset your password
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
    body
        p Here is your verification link:
        a(href=link style="color: blue; text-decoration: underline;") Click here to reset your password
        p This link will expire in #{expiry} minutes.
        p Thank you,
